
/* CARDS DE TAREFAS */
/* CARDS DE TAREFAS */
.containerCards {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
div.cards {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  cursor: grab;
  margin: auto;

  transition: scroll 2s;

  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  padding-right: 50px;
  
}
div.cards.show{
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 0;
}
.cards .card {
  min-width: 280px;
  height: 280px;
  margin: 10px;
  background-color: #3498db;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  user-select: none;

  opacity: 1;
  transition: opacity .8s;
}
.cards.show .card{
  min-width: 180px;
  height: 180px;
}

.card.first {
  margin-left: 50px;
}
.cards.show .card.active{
  margin-left: 0px;
}

.card.next{
  opacity: .5;
  transition: 2s;
}

.cards::-webkit-scrollbar {
  display: none; /* Chrome, Safari e outros navegadores baseados no WebKit */
}