section.initInfo {
    margin-left: 10vw;
    margin-bottom: 70px;
}
.initInfo p{
    padding-top: 4px;
    font-size: 1.1rem;
    font-weight: 400;

    color: rgba(46, 58, 89, 0.596)
    
}

/* CATEGORIAS DE TAREFAS */
/* CATEGORIAS DE TAREFAS */
h1.main_tasks{
    font-size: 1.8rem;
    margin-left: 10vw;
}

section.task_categ{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 20px 0px;
    width: 100vw;
    height: 40px;
}
.task_categ div{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E5EAFC;  
    color: #2E3A59;

    border-radius: 40px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    user-select: none;
}
.task_categ div{
    font-size: .9rem;
    font-weight: 400;


    text-align: center;
}
.task_categ div.active{
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.082);
    transition: .3s;
}

/* BOTÃO PARA MOSTRAR MAIS */
/* BOTÃO PARA MOSTRAR MAIS */

.btn_showLess {
    display: block;
    position: relative;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin: auto;
    margin-bottom: 20px;

    background-color: #0a4268;

    border: 0;

    cursor: pointer;
}

.btn_showLess .minusIcon{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;

    font-size: 3rem;
}
