/* HEADER DA TASK */
.task .cardHeader{

    width: 100%;
    border: 1px solid blue;
    background-image: linear-gradient(to right, #9C2CF3, #3A49F9);
    padding: 35px 40px;

    color: white;

    z-index: 0;
}

.task .init{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    padding: 20px 0px;

}
.denied_backLink{
    display: block;
    margin: 30px;
}
.cardHeader .task_backIcon{
    font-size: 3rem;

    color: white;

    cursor: pointer;
}
.denied_backicon{
    font-size: 3rem;

    cursor: pointer;

}
.task .cardHeader h1{
    color: white;
    font-size: 1.3rem;
}
.task .cardHeader .save{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(255, 0, 0);

    cursor: pointer;
}


.cardHeader .title, .cardHeader .date{
    display: flex;
    flex-wrap: wrap;

    border-bottom: 1px solid rgba(172, 172, 172, 0.486);
    
    padding: 5px 0px;
}
.cardHeader .title h1, .cardHeader .date h1{
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 5px 0px;
}
.cardHeader .title h2, .cardHeader .date h2{
    font-weight: 500;
}


/*SEGUNDA SECTION*/
.task .cardDesc{
    background-color: white;
    margin-top: -10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.603);

    z-index: 1;
}
.cardDesc .desc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

    gap: 20px;

    padding: 30px 40px;
    height: calc(45vh + 10px);
    margin: auto;

}

.task .cardDesc .desc h1{
    color: #b1b8d3;
    font-size: 1.1rem;
    font-weight: 300;
    width: 80%;
}
.task .cardDesc .desc p{
    font-size: 1.1rem;
    font-weight: 500;
    width: 80%;
    color: #2E3A59;
    word-break: break-all;
    hyphens: auto;
}

/* TELA DE CONFIRMAÇÃO DE SAVE */

.confirmSave {
    position: absolute;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.466);
}

.confirmSave .confirmCard{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    width: 300px;
    height: 250px;

    background-color: #fff;

    border-radius: 20px;

}
.confirmCard h1{
    font-size: 1.4rem;
    text-align: center;
    padding: 15px;
    height: 70%;
}
.confirmCard div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;

    text-align: center;

}

.confirmCard .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.confirmCard div#yes{
    height: 50%;
    width: 80%;

    cursor: pointer;

    color: white;
}
.confirmCard div#yes p{
    border-radius: 3px;
    width: 80%;
    background-color: #0077c7c4;
}

.confirmCard div#no{
    height: 50%;
    width: 80%;

    cursor: pointer;
    background-color: #ffffffc4;
    border-bottom-right-radius: 20px;
}

h1.acess-denied {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin: auto;
}