.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.login-form, .register-form{
    min-width: 400px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(168, 168, 168, 0.726);
    padding: 20px;
}
.container h1{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
}
.container .form-error{
    margin-top: 5px;
    font-size: .8rem;
    font-weight: 500;
    color: rgba(216, 1, 1, 0.822);
}

.login-form-group, .register-form-group{
    display: flex;
    flex-wrap: wrap;

    margin-top: 20px;
}

.container input{
    width: 100%;
    height: 35px;
    margin-top: 5px;

    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid rgb(173, 173, 173);

    font-size: .8rem;
    font-weight: 400;

    transition: .2s;
}
.container input:focus{
    box-shadow: 0px 0px 5px rgba(0, 204, 204, 0.685);
    background-color: rgba(224, 255, 255, 0.384);

    outline: none;

}
.container label{
    font-weight: 500;
}

.container a {
    text-decoration: none;
    color: black;
    font-size: .8rem;
}
.container a p{
    font-weight: 500;
    margin: 5px 0px 20px;
}

.container .button {
    width: 100%;
    height: 35px;
    border-radius: 8px;

    border: 1px solid rgba(175, 175, 175, 0.281);
    background-image: linear-gradient(to left, #9C2CF3, #3A49F9);
    color: white;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.678);
    cursor: pointer;
}
.container .button:focus{
    background: auto;
    outline: none;
}

/* CREATE PROJECT */
/* CREATE PROJECT */
/* CREATE PROJECT */

.createProject-form {
    width: 80vw;
    margin-bottom: 60px;
}
.createProject-form label {
    color: #3f4de4cc;
}
.create-project-form-group.description label {
    display: block;
}
.create-project-form-group.description textarea{
    width: 80vw;

    margin-top: 10px;
    padding: 30px;
    
    border: 0;
}
.create-project-form-group .form-field {
    font-weight: 500;
  }
.create-project-form-group.description textarea:focus{
    outline: none;
}

.createProject-form input{
    background: transparent;
    border: 0;

    font-size: 1.5rem;
    font-weight: 500;
    padding: 0;
}
.createProject-form input:focus{
    background-color: transparent;
    box-shadow: none;
    border: 0;
}
.createProject-form .create-project-form-group .field::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-image: linear-gradient(to right, #9C2CF3, #3A49F9);
}

/* CATEGORIAS */
.createProject-form .create-project-form-group.category{
    margin: 50px 0px;
}
.createProject-form .create-project-form-group.category::after{
    width: 0px;
}

.category-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.create-project-form-group.category button{
    width: 120px;
    height: 50px;
    border-radius: 50px;
    border: 0;

    margin: 150px;
    
    background-color: #E5EAFC;
    color: #2E3A59;
    margin: 5px;

    cursor: pointer;
}
.category-buttons button.selected{
    background-image: linear-gradient(to top, #9C2CF3, #3A49F9);
    color: white;
}
.category-buttons button span{
    
    font-size: .8rem;
    font-weight: 500;
}
/* CATEGORIAS */

.create-project-form-group {
    margin: 30px 0px;
}