.lowerHeader{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;   
    height: 100px;
}

.lowerHeader .icon {
    cursor: pointer;
    color: #2E3A59;
    font-size: 2rem;

    margin-left: 10vw;
}
